<div class="shout-form">
    <%= form_for(shout) do |f| %>
        <%= flabel :content %>
        <%= f.text_feild :content, :place_holder => "Make a Shout!" %>

        <%= f.submit %>
    <% end %>
</div>

